<!DOCTYPE html>
<html>
<head>
    <title>Air Data Dashboard</title>
</head>
<body>

    <h1>Air Data (DB preview)</h1>

    <table border="1">
        <thead>
            <tr>
                {% for col in columns %}
                <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                {% for item in row %}
                <td>{{ item if item != None else '-' }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>

    <a href="/report">Quality Report</a><br>
    <a href="/plot">Visualization</a>

</body>
</html>